In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [3]:
df = iris.copy()

In [4]:
df.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

In [6]:
# deleting a column
# Method 1
df.drop('sl', axis = 1, inplace = True)

In [7]:
df

      sw   pl   pw     flower_type
0    3.0  1.4  0.2     Iris-setosa
1    3.2  1.3  0.2     Iris-setosa
2    3.1  1.5  0.2     Iris-setosa
3    3.6  1.4  0.2     Iris-setosa
4    3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...             ...
144  3.0  5.2  2.3  Iris-virginica
145  2.5  5.0  1.9  Iris-virginica
146  3.0  5.2  2.0  Iris-virginica
147  3.4  5.4  2.3  Iris-virginica
148  3.0  5.1  1.8  Iris-virginica

[149 rows x 4 columns]

In [8]:
# Method 2
del df['sw']

In [9]:
df

      pl   pw     flower_type
0    1.4  0.2     Iris-setosa
1    1.3  0.2     Iris-setosa
2    1.5  0.2     Iris-setosa
3    1.4  0.2     Iris-setosa
4    1.7  0.4     Iris-setosa
..   ...  ...             ...
144  5.2  2.3  Iris-virginica
145  5.0  1.9  Iris-virginica
146  5.2  2.0  Iris-virginica
147  5.4  2.3  Iris-virginica
148  5.1  1.8  Iris-virginica

[149 rows x 3 columns]

In [10]:
# adding a column
df["diff_pl_pw"] = df["pl"] - df["pw"]

In [11]:
df

      pl   pw     flower_type  diff_pl_pw
0    1.4  0.2     Iris-setosa         1.2
1    1.3  0.2     Iris-setosa         1.1
2    1.5  0.2     Iris-setosa         1.3
3    1.4  0.2     Iris-setosa         1.2
4    1.7  0.4     Iris-setosa         1.3
..   ...  ...             ...         ...
144  5.2  2.3  Iris-virginica         2.9
145  5.0  1.9  Iris-virginica         3.1
146  5.2  2.0  Iris-virginica         3.2
147  5.4  2.3  Iris-virginica         3.1
148  5.1  1.8  Iris-virginica         3.3

[149 rows x 4 columns]